* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

h2 {
    padding-bottom: 30px;
}

h3 {
    font-size: 30px;
    color: #302226;
}

span {
    padding: 0 5px;
}

.container {
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.chart {
    width: 50%;
    padding: 30px;
    text-align: center;
}

.form-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: #C6AEC7;
    border-radius: 20px;
    margin: 0 50px;
    box-shadow: 0 0 10px 0 black;
}

.form-cont {
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sel-salesman,
#input-date,
#input-amount {
    background-color: rgba(255,255,255,0.5);
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    color: #302226;
    text-align: center;
}

#input-date {
    width: 15%;
}

#submit {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #AFC7C7;
    border: 2px solid #717D7D;
    transition-duration: 0.3s;
}

#submit:hover {
    cursor: pointer;
    background-color: #717D7D;
}
